/* Estilo geral da tabela */
body {
    font-family: Arial, sans-serif;
    color: #333;
}
#telaPrincipal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.tabelaClassificacao {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Estilo do cabeçalho */
.cabecalhoTabela {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilo das células da tabela */
.celulaTabela {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

/* Estilo das linhas alternadas */
.linhaPar {
    background-color: #f9f9f9;
}

.linhaImpar {
    background-color: #fff;
}

/* Efeito de hover nas linhas */
.linhaTabela:hover {
    background-color: #f1f1f1;
}

/* Efeito de bordas e sombra da tabela */
.tabelaClassificacao {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para as porcentagens */
.porcentagemTabela {
    font-weight: bold;
    color: #0066cc;
}

/* Ajuste de responsividade */
@media (max-width: 768px) {
    .tabelaClassificacao {
        font-size: 14px;
    }
}
